




















.description {
  display: flex;
  justify-content: center;
}

.two-colums {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-colums__brief {
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-colums__main-text {
  width: 80%;
  min-width: 784px;
}

.two-colums__paragraph {
  margin: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-colums__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-colums__span-accent {
  font-weight: 600;
}

.digits {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  margin: 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 60px;
  padding-top: 60px;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.table__cell {
  width: 250px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  box-sizing:border-box;
  min-height: 890px;
  padding-top: 100px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  margin: 0 auto;
  margin-bottom: 70px;
  max-width: 648px;
  width: 100%;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;
}

.feynman__subtitle {
  margin: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__img {
  display: block;
  width: 867px;
  height: 637px;
  object-fit: cover;
  object-position: left bottom;
  position: absolute;
  left: 0;
  bottom: 0;
}

.kaufman {
  padding: 90px 0;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  color: #fff;
  z-index: 1;
}
.section-subtitle_theme_dark {
  color: #fff;
  z-index: 1;
}
.table_theme_dark {
  color: #fff;
  padding-top: 80px;
  row-gap: 80px;
  z-index: 1;
}
.table__cell_theme_dark {
  width: 200px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  background-image: url('../images/kaufman-triangle.svg');
  background-size: cover;
}



.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_conten_copyrigh {
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  list-style: none;
}

.footer__column-link {
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  object-fit: contain;
  object-position: 50% 50%;
}
